.hero {
  background-image: url('https://ae01.alicdn.com/kf/HTB1P0VAOiLaK1RjSZFxq6ymPFXah/Beibehang-KTV.jpg_Q90.jpg_.webp');
  background-size: cover;
  color: #FFF;
  position: relative;
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
}

.hero-elements {
  position: absolute;
  z-index: 1;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 2rem;
}