.main-section .container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.main-section .container h1 {
  text-align: center;
  font-size: 3rem;
}

.main-section .container p {
  width: 800px;
  margin: 0 auto;
}